<style>
    footer {
        font: 15px;
    }
    .admin, .contact, .rep {
        background-color:black;
        color: white;
    }
</style>
<footer>
    <div class="foot-contain">
        <div class="admin"><a href="/sessions/new"><button>Admin</button></a></div>
        <div class="contact">Contact</div> 
        <div class="rep"><a href="https://www.facebook.com/Thatswhatweregearedfour/?ref=page_internalhttps://www.facebook.com/Thatswhatweregearedfour/?ref=page_internal"><button>Agent</button></a></div>
    </div>
</footer>