<footer>
    <div class="foot-contain">
        <div class="admin" id="button"><a href="/sessions/new"><button>Admin</button></a></div>
        <div class="contact" id="button"><a href="/contact"><button>Contact</button></a></div> 
        <div class="rep" id="button"><a href="https://www.facebook.com/Thatswhatweregearedfour/?ref=page_internalhttps://www.facebook.com/Thatswhatweregearedfour/?ref=page_internal"><button>Agent</button></a></div>
    </div>
</footer>