<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgba(16, 7, 26, 0.529);
            text-align: center;

        }
        nav {
            margin: auto;
        }
        .logo {
            max-width: 150px;
        }
        .item_img {
            max-width: 150px;
        } 
    </style>

    
    <title><%= tabTitle %></title>
</head>
<nav> 
    <!-- Logo image -->
    <img src='/images/BillyBattsVector2.jpg' class="logo"><br/><div class="events">
    <!-- Events link     -->
    <a href="/">Events</a></div>
    <!-- Store link     -->
    <div class="store"><a href="/merch">Store</a></div>
    <!-- Media link     -->
    <div class="Media"><a href="/media">Media</a></div>
    <ul class="right">
        <% if (currentUser) { %>
        <li>Welcome <%= currentUser.username %></li>
        <li>
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" class="btn-small red" />
          </form>
        </li>
        <li><a href="/users/new">New Admin</a></li>
        <% } %>
      </ul>
</nav>