<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
<body>
    <div class="container">
        <h1>Events</h1>
        <ul>
            <li><a href="https://www.facebook.com/events/200166451245639/?acontext=%7B%22source%22%3A5%2C%22action_history%22%3A[%7B%22surface%22%3A%22page%22%2C%22mechanism%22%3A%22main_list%22%2C%22extra_data%22%3A%22%5C%22[]%5C%22%22%7D]%2C%22has_source%22%3Atrue%7D"><h2>Saturday, September 19, 2020 at 8 PM</h2></a></li>
        </ul>
    </div>
</body>
<%- include ('./partials/foot.ejs')%>
</html>