<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs')%>
<body>
    <h1>New Admin</h1>
    <form action="/users" method="POST">
        Username: <input type="text" name="username"/><br/>
        Password: <input type="password" name="password"/><br/>
        <input type="submit" value="Create Admin"/>
    </form>
</body>
    <%- include ('../partials/foot.ejs')%>
</html>